---
# Based on LLVM style, with customizations and Qt-specific settings
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
BreakTemplateDeclarations: Yes
ColumnLimit: 120
ContinuationIndentWidth: 8
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesInAngles: false
SpacesInParentheses: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: false
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
# Qt-related include ordering
IncludeCategories:
  - Regex: '^<Q.*'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '^".*"'
    Priority: 3
# Macros for Qt and common patterns
ForEachMacros:
  - forever
  - foreach
  - Q_FOREACH
StatementMacros:
  - Q_UNUSED
  - QT_BEGIN_NAMESPACE
  - QT_END_NAMESPACE
  - Q_MOC_INCLUDE
  - Q_CLASSINFO
  - Q_ENUM
  - Q_ENUM_NS
  - Q_FLAG
  - Q_FLAG_NS
  - Q_GADGET
  - Q_GADGET_EXPORT
  - Q_PROPERTY
  - Q_REVISION
  - Q_DISABLE_COPY
  - Q_SET_OBJECT_NAME
  - Q_LOGGING_CATEGORY
  - Q_NAMESPACE
  - Q_NAMESPACE_EXPORT
# Attribute-like Qt macros
StatementAttributeLikeMacros:
  - Q_EMIT
  - emit
# Include main test headers last
IncludeIsMainRegex: '([-_](test|unittest))?$'
# Other settings inherited from first config
BreakBeforeBinaryOperators: None
BreakAfterReturnType: None
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false

...
